<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.echo.country.mapper.ContactMapper">

    <resultMap id="BaseResultMap" type="com.echo.country.pojo.Contact">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="tel" column="tel" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="VARCHAR"/>
        <result property="integralSize" column="integral_size" jdbcType="INTEGER"/>
        <result property="countyName" column="county_name" jdbcType="VARCHAR"/>
        <result property="townshipName" column="township_name" jdbcType="VARCHAR"/>
        <result property="villageName" column="village_name" jdbcType="VARCHAR"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>
